<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Autor de la página</title>
</head>
<body>
	<h1>Autor de la página:</h1>
	Christian Darío Barahona Pesantes
	<p><img src="https://moodle.lab.dit.upm.es/pluginfile.php/6618/user/icon/standard/f1?rev=583287"></p>
</body>
</html>